*{
  padding: 0;
  margin: 0;
  color: white;
}
.landing{
  background-color: black;
  height: 100vh;
}
.logo{
  width: 200px;
}
.navigation{
  display: flex;
  justify-content: space-between;
}
.loginBtn{
  border-radius: 20px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.linkNBtn{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link{
  text-decoration: none;
  font-family: sans-serif;
}
.loginContainer{
  background-color: black;
  height: 100vh;
}